/** @format */

/* @import url("https://fonts.cdnfonts.com/css/zosilla"); */
/* @import url("https://fonts.cdnfonts.com/css/kuiper-belt"); */
/* @import url("https://fonts.cdnfonts.com/css/nova-display"); */
/* @import url("https://fonts.cdnfonts.com/css/icewave"); */
/* @import url("https://fonts.cdnfonts.com/css/minal"); */
/* @import url("https://fonts.cdnfonts.com/css/patinio-contexto"); */
@import url("https://fonts.cdnfonts.com/css/maxter-board-st");
/* @import url("https://fonts.cdnfonts.com/css/jupiteroid"); */
/* @import url("https://api.fontshare.com/v2/css?f[]=excon@1&f[]=array@700&display=swap"); */
/* @import url("https://fonts.cdnfonts.com/css/velocista"); */
/* @import url("https://fonts.cdnfonts.com/css/fourkid"); */
/* @import url("https://fonts.cdnfonts.com/css/horticulture"); */
/* @import url("https://fonts.cdnfonts.com/css/michelin-2"); */
/* @import url("https://fonts.cdnfonts.com/css/war-eagle"); */
/* @import url("https://fonts.cdnfonts.com/css/bizmo-trial"); */
/* @import url("https://fonts.cdnfonts.com/css/crosswinds"); */
/* @import url("https://fonts.cdnfonts.com/css/lbc-starlight"); */
/* @import url("https://fonts.cdnfonts.com/css/game-font-7"); */
/* @import url("https://fonts.cdnfonts.com/css/astron-boy-video"); */
/* @import url("https://fonts.cdnfonts.com/css/sd-prostreet"); */
/* @import url("https://fonts.cdnfonts.com/css/aspace"); */
/* @import url("https://fonts.cdnfonts.com/css/starfleet"); */
/* @import url("https://fonts.cdnfonts.com/css/another-x-display-tfb"); */
/* @import url("https://fonts.cdnfonts.com/css/strike-fighter"); */
/* @import url("https://fonts.cdnfonts.com/css/free-agent"); */
/* @import url("https://fonts.cdnfonts.com/css/mute-fruit"); */
/* @import url("https://fonts.cdnfonts.com/css/bpdotsunicase"); */
/* @import url("https://fonts.cdnfonts.com/css/sinema"); */
@import url("https://fonts.cdnfonts.com/css/americorps");
/* @import url("https://fonts.cdnfonts.com/css/tempest-apache"); */
/* @import url("https://fonts.cdnfonts.com/css/mobile-man"); */
/* @import url("https://fonts.cdnfonts.com/css/karmatic-arcade"); */
@import url("https://fonts.cdnfonts.com/css/fourkid");
@import url(https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@1&f[]=space-grotesk@1&f[]=outfit@1&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/
:root {
  --font-sans: "outfit", sans-serif;
  --__sl-font: "outfit", sans-serif;
  /* --sl-text-base: 24px; */
  /* --sl-content-width: 1500px; */
  /* --sl-color-text-accent: #4DEDED; */
  --sl-color-text-accent: #eded4d;
}

.site-title {
  align-items: center;
  gap: var(--sl-nav-gap);
  font-size: var(--sl-text-h2);
  font-weight: 600;
  color: var(--sl-color-text-accent);
  text-decoration: none;
  white-space: nowrap;
}

.sl-markdown-content h3 {
  color: #ed9d4d;
}

header.header
  div.header.sl-flex
  div.title-wrapper.sl-flex
  a.site-title.sl-flex
  span {
  /* font-family: "Americorps Gradient", sans-serif; */
  font-family: "fourkid", sans-serif;
  /* text-transform: uppercase; */
  font-weight: 400;
  font-style: italic;
}
article {
  padding-bottom: 30px;
  border-bottom: 1px solid #ed9d4d;
}
.hero h1 {
  /* font-family: "maxter board st", sans-serif; */
  /* font-family: "Americorps Outline Extra-Condensed", sans-serif; */
  font-family: "Americorps", sans-serif;
  /* text-transform: uppercase; */
  font-weight: 700;
  --text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  text-shadow: var(--text-shadow);
}

.hero {
  background-image: url("assets/CodeRed.jpg");
  height: 80vh;
  /* width: 100vw; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;

  display: flex;
  align-items: end;
  .sl-link-button {
    margin: 15px;
    font-weight: 700;
    /* font-family: "velocista", sans-serif; */
  }
}
#unique {
  margin-top: 50px;
  background-image: url("assets/YouAreValued.webp");
  position: relative;
}
#unique .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.hero .tagline {
  font-size: clamp(var(--sl-text-lg), calc(0.0625rem + 2vw), var(--sl-text-xl));
  font-weight: 700;
  color: white;
}
.sl-link-button.primary {
  border-radius: 10px;
  padding: 10px 20px;
  font-style: italic;
  --sl-color-text-accent: #eded4d !important;
}
.sl-link-button.primary:hover {
  color: var(--sl-color-text-accent);
  background-color: var(--sl-color-primary-500);
}

.card {
  border-radius: 20px;
}

@media (min-width: 50rem) {
  .sl-link-button.primary {
    border-radius: 10px;
    padding: 0px 10px;
  }
  .hero {
    padding: 50px;
    border: 5px solid #eded4d;
  }
}
.hero h1 {
  font-size: clamp(3.5rem, calc(0.0625rem + 2vw), 3rem);
  line-height: 0.75;
  /* letter-spacing: 0.15em; */
}
.home-page {
  img {
    border-radius: 20px;
  }
  h2 {
    font-size: clamp(2rem, calc(0.0625rem + 2vw), 3rem);
    /* font-size: 4rem; */
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.15em;
    font-family: "Maxter Board St", sans-serif;
    margin: 40px 0 60px;
  }
  h3 {
    font-size: clamp(2rem, calc(0.0625rem + 2vw), 3rem);
    /* font-size: 3rem; */
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: 0.15em;
  }
  p {
    /* font-size: clamp(var(--sl-text-lg), calc(0.0625rem + 2vw), var(--sl-text-xl)); */
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    /* margin-bottom: 20px; */
  }
  h2 span.primary {
    color: #eded4d;
  }
  .sl-steps p {
    margin: 40px 0 0;
  }
}

@media (min-width: 50rem) {
  .sidebar-pane {
    background-color: transparent;
  }
}

.logo-test {
  font-family: "fourkid", sans-serif;
  font-size: 22rem;
  font-weight: 700;
  color: #eded4d;
  letter-spacing: -0.1em;
}
